build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/client.json
build/cmake_install.cmake
build/CMakeCache.txt
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/QtClient_app.vcxproj
build/QtClient_app.vcxproj.filters
build/QtClient_app.vcxproj.user
build/QtClient.sln
build/QtClient.vcxproj
build/QtClient.vcxproj.filters
build/QtClient.vcxproj.user
build/QtClientConfig.cmake
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/cmake.db
build/.vs/QtClient/v16/.suo
build/.vs/QtClient/v16/Browse.VC.db
build/.vs/QtClient/v16/Browse.VC.db-shm
build/.vs/QtClient/v16/Browse.VC.db-wal
build/.vs/QtClient/v16/Browse.VC.opendb
build/.vs/QtClient/v16/Solution.VC.db
build/.vs/QtClient/v16/Solution.VC.db-shm
build/.vs/QtClient/v16/Solution.VC.db-wal
build/.vs/QtClient/v16/ipch/AutoPCH/19a5e91ddd9c2a7b/MAIN.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/1dcf8abd2190af9c/BROADCASTER.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/1e6a37a313fc1204/BROADCASTER.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/229f30101242995f/MQTMESSAGE.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/2f5bcb13b48914b9/MOCS_COMPILATION.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/4a0499316b72c877/MQTMESSAGE.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/583bca7829afd2f6/MQTSOCKIO.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/68295ac622b39ee/MQT.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/c1bab86a49f7963d/MOCS_COMPILATION.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/f69dd05fc7941976/MQT.ipch
build/.vs/QtClient/v16/ipch/AutoPCH/fe8d6ac8c7470d4e/MQTSOCKIO.ipch
build/bin/client.json
build/bin/bin/client.json
build/bin/Debug/client.json
build/bin/Debug/Qt5Cored.dll
build/bin/Debug/Qt5Networkd.dll
build/bin/Debug/QtClient_app.exe
build/bin/Debug/QtClient_app.ilk
build/bin/Debug/QtClient_app.pdb
build/bin/Debug/bearer/qgenericbearerd.dll
build/bin/Debug/translations/qt_ar.qm
build/bin/Debug/translations/qt_bg.qm
build/bin/Debug/translations/qt_ca.qm
build/bin/Debug/translations/qt_cs.qm
build/bin/Debug/translations/qt_da.qm
build/bin/Debug/translations/qt_de.qm
build/bin/Debug/translations/qt_en.qm
build/bin/Debug/translations/qt_es.qm
build/bin/Debug/translations/qt_fi.qm
build/bin/Debug/translations/qt_fr.qm
build/bin/Debug/translations/qt_gd.qm
build/bin/Debug/translations/qt_he.qm
build/bin/Debug/translations/qt_hu.qm
build/bin/Debug/translations/qt_it.qm
build/bin/Debug/translations/qt_ja.qm
build/bin/Debug/translations/qt_ko.qm
build/bin/Debug/translations/qt_lv.qm
build/bin/Debug/translations/qt_pl.qm
build/bin/Debug/translations/qt_ru.qm
build/bin/Debug/translations/qt_sk.qm
build/bin/Debug/translations/qt_uk.qm
build/bin/Debug/translations/qt_zh_TW.qm
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.2/CMakeCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeSystem.cmake
build/CMakeFiles/3.18.2/VCTargetsPath.txt
build/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/4ef8dfbd568c6c44b7478904b2e15128/generate.stamp.rule
build/CMakeFiles/4ef8dfbd568c6c44b7478904b2e15128/INSTALL_force.rule
build/CMakeFiles/Export/share/QtClient/cmake/QtClientConfig-debug.cmake
build/CMakeFiles/Export/share/QtClient/cmake/QtClientConfig-minsizerel.cmake
build/CMakeFiles/Export/share/QtClient/cmake/QtClientConfig-release.cmake
build/CMakeFiles/Export/share/QtClient/cmake/QtClientConfig-relwithdebinfo.cmake
build/CMakeFiles/Export/share/QtClient/cmake/QtClientConfig.cmake
build/CMakeFiles/QtClient_app_autogen.dir/AutogenInfo.json
build/CMakeFiles/QtClient_app_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/QtClient_app_autogen.dir/ParseCache_Debug.txt
build/CMakeFiles/QtClient_autogen.dir/AutogenInfo.json
build/CMakeFiles/QtClient_autogen.dir/AutogenUsed_Debug.txt
build/CMakeFiles/QtClient_autogen.dir/ParseCache_Debug.txt
build/Debug/QtClient.lib
build/Debug/QtClient.pdb
build/QtClient.dir/Debug/broadcaster.obj
build/QtClient.dir/Debug/mocs_compilation.obj
build/QtClient.dir/Debug/mqt.obj
build/QtClient.dir/Debug/mqtmessage.obj
build/QtClient.dir/Debug/mqtsockio.obj
build/QtClient.dir/Debug/QtClient.lib.recipe
build/QtClient.dir/Debug/QtClient.log
build/QtClient.dir/Debug/QtClient.pdb
build/QtClient.dir/Debug/QtClient.vcxproj.FileListAbsolute.txt
build/QtClient.dir/Debug/QtClient.tlog/CL.command.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/CL.read.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/CL.write.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/CustomBuild.command.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/CustomBuild.read.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/CustomBuild.write.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/Lib-link.read.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/Lib-link.write.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/Lib.command.1.tlog
build/QtClient.dir/Debug/QtClient.tlog/QtClient.lastbuildstate
build/QtClient_app.dir/Debug/broadcaster.obj
build/QtClient_app.dir/Debug/main.obj
build/QtClient_app.dir/Debug/mocs_compilation.obj
build/QtClient_app.dir/Debug/mqt.obj
build/QtClient_app.dir/Debug/mqtmessage.obj
build/QtClient_app.dir/Debug/mqtsockio.obj
build/QtClient_app.dir/Debug/QtClient_app.exe.recipe
build/QtClient_app.dir/Debug/QtClient_app.log
build/QtClient_app.dir/Debug/vc142.pdb
build/QtClient_app.dir/Debug/QtClient_app.tlog/CL.command.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/CL.read.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/CL.write.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/CustomBuild.command.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/CustomBuild.read.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/CustomBuild.write.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/link.command.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/link.read.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/link.write.1.tlog
build/QtClient_app.dir/Debug/QtClient_app.tlog/QtClient_app.lastbuildstate
build/QtClient_app_autogen/mocs_compilation.cpp
build/QtClient_app_autogen/include_Debug/6YEA5652QU/moc_broadcaster.cpp
build/QtClient_app_autogen/include_Debug/6YEA5652QU/moc_mqt.cpp
build/QtClient_app_autogen/include_Debug/6YEA5652QU/moc_mqtsockio.cpp
build/QtClient_autogen/mocs_compilation.cpp
build/QtClient_autogen/include_Debug/6YEA5652QU/moc_broadcaster.cpp
build/QtClient_autogen/include_Debug/6YEA5652QU/moc_mqt.cpp
build/QtClient_autogen/include_Debug/6YEA5652QU/moc_mqtsockio.cpp
build/x64/Debug/ALL_BUILD/ALL_BUILD.log
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/.vs/QtClient/v16/ipch/AutoPCH/2c06aba8fef02a7f/MQTMESSAGE.ipch
build/bin/Debug/translations/qt_tr.qm
build/CMakeFiles/0234bb5439610d2a21b494a93e17ffc7/generate.stamp.rule
build/CMakeFiles/0234bb5439610d2a21b494a93e17ffc7/INSTALL_force.rule
build/QtClient_app_autogen/include_Debug/6YEA5652QU/moc_broadcaster.cpp.d
build/QtClient_app_autogen/include_Debug/6YEA5652QU/moc_mqt.cpp.d
build/QtClient_app_autogen/include_Debug/6YEA5652QU/moc_mqtsockio.cpp.d
build/QtClient_autogen/include_Debug/6YEA5652QU/moc_broadcaster.cpp.d
build/QtClient_autogen/include_Debug/6YEA5652QU/moc_mqt.cpp.d
build/QtClient_autogen/include_Debug/6YEA5652QU/moc_mqtsockio.cpp.d
